# Praxisübung: Entscheidungsbaum
Den Titanic Datensatz kennen Sie vielleicht aus anderen Veranstaltungen. Hier soll anhand von verschiedenen Features für einen Passagier der Titanic vorhergesagt werden, ob er/sie die Katastrophe überlebt hat. Einlesen der Daten, eine grobe Vorverarbeitung sowie Split in Trainings- und Testset sind hier bereits vorgegeben.

In [131]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import display

pd.options.display.max_columns = 50
pd.options.display.max_rows = 200
plt.rcParams['figure.figsize'] = [16, 9]

In [139]:
from sklearn.model_selection import train_test_split

df = pd.read_csv("../Daten/titanic.csv")
# Wir entfernen einige Features um das Problem übersichtlicher zu machen
df = df.drop(["PassengerId", "Name","Ticket", "Cabin"], axis=1)
# Wir entfernen diejenigen Passagiere, für die das Alter nicht angegeben ist
df = df[df["Age"].isna() == False]

# Label: Überlebt ja/nein
y = df.pop("Survived")
# Features inkl. one-hot encoding der kategorischen
X = pd.get_dummies(df)

# Split in Trainings- und Testset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train

,Pclass,Age,SibSp,Parch,Fare,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S
328,3,31.0,1,1,20.5250,1,0,0,0,1
73,3,26.0,1,0,14.4542,0,1,1,0,0
253,3,30.0,1,0,16.1000,0,1,0,0,1
719,3,33.0,0,0,7.7750,0,1,0,0,1
666,2,25.0,0,0,13.0000,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
92,1,46.0,1,0,61.1750,0,1,0,0,1
134,2,25.0,0,0,13.0000,0,1,0,0,1
337,1,41.0,0,0,134.5000,1,0,1,0,0
548,3,33.0,1,1,20.5250,0,1,0,0,1
130,3,33.0,0,0,7.8958,0,1,1,0,0

## ✏ Aufgabe 1
Trainieren Sie einen Entscheidungsbaum für das Beispiel. Schauen Sie sich dazu das Notebook mit dem [Beispielcode](10_Beispiel_Entscheidungsbaum.ipynb) an. Visualisieren Sie ihr Ergebnis mit `plot_tree()`.
Experimentieren Sie mit den Hyperparametern `max_depth` und `min_samples_split`. Was bedeuten diese Parameter? Wie ändert die Performance (accuracy, precision, recall) auf den Trainings- und Testdaten?

In [144]:
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, recall_score, precision_score

# TO DO

## ✏ Aufgabe 2
Führen Sie eine Hyperparameteroptimierung durch.
1. Finden sie die besten Wert für die Baumtiefe mittels Hyperparametertuning und 5-facher Kreuzvalidierung.
2. Finden sie die beste *Kombination* aus Baumtiefe und minimaler Anzahl benötigter Beispiele für einen Split mittels Hyperparametertuning und 5-facher Kreuzvalidierung.

In [145]:
from sklearn.model_selection import KFold

# TO DO

## ✏ Aufgabe 3
Wiederholen Sie Aufgabe 2 mit einer logistischen Regression.
Sie können dafür statt der Klasse `LogisticRegression` die Klasse `LogisticRegressionCV` benutzen. Darin wird eine Kreuzvalidierung für den Regularisierungsparameter `C` durchgeführt. Erzeugen Sie ein Modell mit dem Parameter `penalty="l2"` und wählen Sie 10 Werte für `C` und eine 5-fache Kreuzvalidierung. Was ist die (mathematische) Bedeutung von `C`?

In [147]:
from sklearn.linear_model import LogisticRegressionCV

# TO DO

## ✏ Aufgabe 4
Vergleichen Sie beide Modelle in einem ROC Plot. Welche Aussagen können Sie aus dem Plot ableiten?

In [146]:
from sklearn.metrics import roc_curve

# TO DO